<% include ../partials/header %>

<div class="wrapper-content">
	<div class="container" >
		<div class="form">


    <div class="row">
        <h1 style="text-align: center"> <%= order.name %> </h1>
        
            <form action="/orders/<%=order._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="name"></label>
                    <input class="form-control" type="text" name="name" id="name" value="<%= order.name %>">
                </div>

                <div class="">
                    <div class="form-group">
                        <div class="d-flex justify-content-center">Category
                            <label class="currency">
                                <input name="category" class="currency__radio" type="radio" name="currency" id="bucks" value="design"checked>
                                <span class="img__radio img__radio_bucks"></span>
                            </label>
                            <label class="currency">
                                <input name="category" class="currency__radio" type="radio" name="currency" id="shawarma" value="video" >
                                <span class="img__radio img__radio_shawarma"></span>
                            </label>
                            <label class="currency">
                                <input name="category" class="currency__radio" type="radio" name="currency" id="doshirak" value="text">
                                <span class="img__radio img__radio_doshirak"></span>
                            </label>
                            <label class="currency">
                                <input name="category" class="currency__radio" type="radio" name="currency" id="fix" value="photo">
                                <span class="img__radio img__radio_fix"></span>
                            </label>
                            <label class="currency">
                                <input name="category" class="currency__radio" type="radio" name="currency" id="fix2" value="progr">
                                <span class="img__radio img__radio_fix2"></span>
                            </label>
                            <label class="currency">
                                <input name="category" class="currency__radio" type="radio" name="currency" id="fix3" value="gamedev">
                                <span class="img__radio img__radio_fix3"></span>
                            </label>
                        </div>
                </div>
                
                <div class="form-group">
                    <label for="image"></label>
                    <input class="form-control" type="text" name="image" id="image" value="<%= order.image %>">
                </div>
                <div class="form-group">
                    <label for="cost"></label>
                    <input class="form-control" type="number" name="cost" id="cost" value="<%= order.cost %>" step="0.01" min="0" required>
                </div>
            
                <div class="form-group">
                    <label for="description"></label>
                    <input class="form-control" type="text" name="description" id="description" value="<%= order.description %>">
                </div>
                <div class="form-group">
                    <button class="form-button">Update</button>
                </div>
            </form>
            <div class="form-group"><span class="form-button" onclick="history.back();"><a>←Back</a></span></div>
        
    </div>
</div>
    </div>
</div>
<% include ../partials/footer %>

